---
import { getCollection, getEntry } from "astro:content";
import Base from "@/layouts/Base.astro";
import { ProjectCard } from "@/components";

const intro = await getEntry("sections", "intro");
const { Content: IntroContent } = await intro.render();

const projects = (await getCollection("projects")).sort(
  (project1, project2) => project1.data.sortOrder - project2.data.sortOrder,
);
---

<Base>
  <div class="m-auto h-full max-w-screen-lg space-y-5">
    <div class="max-w-screen-md space-y-3 text-lg">
      <IntroContent />
    </div>
    <h2 class="text-3xl font-bold">Projects</h2>
    <div class="grid grid-cols-1 gap-5 sm:grid-cols-2">
      {projects.map((project) => <ProjectCard {project} />)}
    </div>
  </div>
</Base>
