---
import { getCollection, getEntry } from "astro:content";
import Base from "@/layouts/Base.astro";
import { Card } from "@/components";

const intro = await getEntry("sections", "intro");
const { Content: IntroContent } = await intro.render();

const projectsCollection = await getCollection("projects");
const projects = await Promise.all(
  projectsCollection.map(async ({ data: { sortOrder, title, githubUrl }, render }) => ({
    sortOrder,
    title,
    githubUrl,
    Content: (await render()).Content,
  })),
);
projects.sort((project1, project2) => project1.sortOrder - project2.sortOrder);
---

<Base>
  <div class="text-lg">
    <IntroContent />
  </div>
  <h2 class="text-3xl font-bold">Projects</h2>
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    {
      projects.map(({ title, Content }) => (
        <Card>
          <h3 class="mb-1 text-xl font-bold">{title}</h3>
          <div>
            <Content />
          </div>
        </Card>
      ))
    }
  </div>
</Base>
