---
type Props = {
  /** Reference to link to. */
  href: string;
  /** Label to use for accessibility. */
  label: string;
};

const { href, label } = Astro.props;
---

<a
  class="flex cursor-pointer items-center justify-center rounded-lg p-2 hover:bg-slate-300 dark:hover:bg-slate-600"
  {href}
  target="_blank"
  aria-label={label}
>
  <slot />
</a>
